#section-8 {
    height: 90vh;
    width: 100%;
    background-image: url('/images/lastBG.jpg');
    background-size: cover;
}
.contact-main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    margin: auto;
}
#contact-title {
    display: flex;
    font-size: 37px;
    color: #DCB818;
    justify-content: center;
    margin-top: 20px;
}
.contact-items {
    display: grid;
    display: flex;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
}
.contact-area {
    display: flex;
    flex-direction: column;
}
.contact-area h4 {
    margin-top: 120px;
    font-size: 30px;
    color: #DCB818;
}
.contact-area a {
    margin-top: 20px;
    text-decoration: none;
    color:white;
    font-size: 23px;
    font-weight: bold;
}
.icon--area {
    display: flex;
}
.icon--area ion-icon {
    color: #DCB818;
    margin-top: 30px;
    height: 70px;
    width: 70px;
}
.slogan--icons {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.slogan--icons ion-icon {
    color: #DCB818;
    margin-right: 50px;
    height: 70px;
    width: 70px;
}

@media (max-width: 780px) {
    #section-8 {
        background-position: center;
    }
    #contact-title {
        font-size: 23px;
        margin-top: 30px;
    }
    .contact-items {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    #section-8 {
        height: auto;
    }
    .contact-area {
        width: 100%;
        justify-content: space-between
    }
    .contact-area:last-child {
        margin-bottom: 30px;
    }
    .contact-area h4 {
        margin-top: 30px;
        font-size: 24px;
        color: #DCB818;
    }
    .contact-area a {
        margin-top: 10px;
        text-decoration: none;
        color:white;
        font-size: 23px;
        font-weight: bold;
    }
    .icon--area {
        display: flex;
    }
    .icon--area ion-icon {
        color: #DCB818;
        margin-top: 10px;
        height: 70px;
        width: 70px;
    }
}
@media (max-width: 380px) {
    #contact-title {
        font-size: 22px;
    }
    .contact-area a {
        font-size: 20px;
    }
}